<h3>Usuários</h3>
<a asp-controller="usuario" asp-action="add">Add</a>
<table id="user" border="1">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Setor</th>
    </tr>    
    @foreach(var usuario in ViewBag.Usuarios)
    {
        <tr>
            <td>@usuario.IdUsuario</td>
            <td>@usuario.NomeUsuario</td>
            <td>@usuario.SetorUsuario</td>
            <td>@usuario.ComputadorId</td>
            <td>
                <a asp-controller="usuario" asp-action="delete" asp-route-id="@usuario.IdUsuario">Excluir</a>
                <a asp-controller="usuario" asp-action="edit" asp-route-id="@usuario.IdUsuario">Editar</a>
            </td>
        </tr>
    }
</table>

