@model FileUploadViewModel 
@using WebApplication1.Services.User
@using WebApplication1.Models

@{
    ViewData["Title"] = "Index";
}
<h4>Envie anexos por aqui!</h4>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
 

<form method="post" enctype="multipart/form-data">

    <input class="form-control" type="file" name="files" multiple required />
    <input class="form-control" type="text" autocomplete="off" placeholder="Insira a descrição do arquivo" name="description" required />
    <input class="form-control" type="date" autocomplete="off" placeholder="Insira uma data de vencimento" name="vencimento" required />
    <select class="form-control" asp-items="ViewBag.Users" placeholder="Nome do Colaborador" name="solicitante" required >Selecione o colab</select>
    <input class="form-control" type="text" autocomplete="off" placeholder="Setor" name="setor" required />
    <input class="form-control" type="text" autocomplete="off" placeholder="Empresa" name="empresa" required />
    <input class="form-control" type="text" autocomplete="off" placeholder="Email" name="email" required />
    <input class="form-control" type="text" autocomplete="off" placeholder="Fornecedor" name="fornecedor" required />
    <input class="form-control" type="text" autocomplete="off" placeholder="Descrição da Nota" name="descricao" required />
    <input class="form-control" type="text" autocomplete="off" placeholder="Valor da Nota" name="valor" required />

    <div>
    <button class="btn btn-success" type="submit" asp-controller="File" asp-action="UploadToDatabase">Enviar</button>
    </div>
</form>


 @if (User.IsInRole("Admin"))
 {
<hr />
<h4>Anexos no Banco de Dados</h4>
@if (Model.FilesOnDatabase.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{
    <caption>Lista de Anexos</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Arquivo</th>
                <th>Enviado em:</th>
                <th>Solicitante</th>
                <th>Empresa</th>
                <th>Descrição</th>
                <th>R$</th>
                <th>Vencimento</th>
                <th>Ações</th>
                <th><button type="submit" asp-controller="File" asp-action="UploadToDatabase">Salvar Alterações</button></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnDatabase)
            {
                <tr>
                    <th>@file.Id</th>
                    <td>@file.Name</td>
                    <td>@file.Description</td>
                    <td>@file.FileType</td>
                    <td>@file.CreatedOn</td>
                    <td>@file.Solicitante</td>
                    <td>@file.Empresa</td>
                    <td>@file.Descricao</td>
                    <td>@file.valor</td>
                    <td>@file.vencimento</td>
                    <td>@file.Status</td>
                    <td>
                            @using (Html.BeginForm("Edit", "File"))
                            {
                                
                            }
                        @Html.RadioButtonFor(Model => file.Status, "1")Aprovado
                        @Html.RadioButtonFor(Model => file.Status, "2")Análise
                        @Html.RadioButtonFor(Model => file.Status, "3")Negar
                        <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Download</a>
                        <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Excluir</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
}