@if (User.IsInRole("Admin"))
{
    <h2>ADM</h2>
<a asp-controller="computadores" asp-action="add">Add</a>
}
<h3>Inventário</h3>
  <table id="computadores" class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Patrimonio</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Serial</th>
      <th scope="col">S.O</th>
      <th scope="col">Ram GB</th>
      <th scope="col">Processador</th>
      <th scope="col">Usuario</th>
      <th scope="col">Setor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       @foreach(var computador in ViewBag.computadores)
    {
        <thead>
        <tr>
            <td>@computador.IdComputador</td>
            <td>@computador.NumPatrimonio</td>
            <td>@computador.Marca</td>
            <td>@computador.Modelo</td>
            <td>@computador.NumSerie</td>
            <td>@computador.So</td>
            <td>@computador.MemoriaRam</td>
            <td>@computador.Processador</td>
            <td>@computador.Username</td>
            <td>@computador.UserSector</td>


           @if (User.IsInRole("Admin"))
            {
                <td>
                <a asp-controller="computadores" asp-action="delete" asp-route-id="@computador.IdComputador">Excluir</a>
                <a asp-controller="computadores" asp-action="edit" asp-route-id="@computador.IdComputador">Editar</a>
                </td>  
            }
          
        </tr>
        </thead>
    }
    </tr>
  </tbody>
</table>


<link href="//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts{

    <script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
        $("#computadores").DataTable();
        });
    </script>

}

